@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root {
    --default-color: #FBBF24;
    --grey-color: #9CA3AF;
    --off-white: #E5E7EB;
}
hr {
    margin: 2rem 0rem;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px;
}

.container {
    padding: 1.5rem 1rem;

}
.container-center {
    max-width: 600px;
    margin: auto;
}

.link { 
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    padding: .35rem 1rem;
}

.link-primary {
    background-color: var(--default-color);
    border-radius: 1rem;
    color: white;
}
.link-secondary {
    color: var(--default-color);
    background-color: white;
    border: 1px solid var(--default-color);
    border-radius: 1rem;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem .5rem;
}

.navigation{
    background-color: var(--default-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.navigation .nav-right {
    text-align: right;
}
.navigation .nav-left {
    text-align: left;
}
.navigation .nav-brand {
    font-weight: bold;
}
.navigation .link {
    color: white;
}
.navigation .nav-active {
    font-weight: bolder;
}
.hero {
    padding: 2rem;
    padding-top: 2rem;
}
.hero .hero-img {
    max-width: 450px;
    display: block;
    margin: auto;
}
.hero .hero-head {
    text-align: center;
    color: #b2b8c2;
    padding-top: 1rem;
}
.hero .hero-head span {
    color: var(--default-color);
}
.hero h2 {
    text-align: center;
    padding: 1rem;
    padding-top: 0rem;
}

.section {
    padding: 2rem;
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

.footer {
    background-color: var(--default-color);
    padding:  2rem 1rem;
    text-align: center;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-inline-start: 0px;
}
.footer-heading {
    font-weight: bold;
    font-size: large;
}
.footer .link {
    color: white;
}